In [2]:
import pandas as pd

# Load CSV
df = pd.read_csv("weather.csv")

# Convert date column
df['date'] = pd.to_datetime(df['date'], dayfirst=True)

# Handle missing values  
df.fillna(df.mean(numeric_only=True), inplace=True)

In [3]:
df

          date  temperature  humidity  rainfall
0   2024-01-01         25.0        67        20
1   2024-01-02         18.6        35        20
2   2024-01-03         26.5        87         0
3   2024-01-04         35.2        73        10
4   2024-01-05         17.7        74         0
..         ...          ...       ...       ...
361 2024-12-27         35.3        98         0
362 2024-12-28         18.9        49         0
363 2024-12-29         24.0        40        10
364 2024-12-30         26.9        67        10
365 2024-12-31         16.0        35         0

[366 rows x 4 columns]